service: rss
frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: dev

# custome variables
custom:
  stage: ${opt:stage, self:provider.stage}
  product: ai
  dynamoDB_arn: "arn:aws:dynamodb:us-east-1:535354162768:table/rss-ai-dev-source"

# Resources
resources:
  Resources:
    # IAM Role for Lambda to Write to DynamoDB
    LambdaDynamoDBRole:
      Type: 'AWS::IAM::Role'
      Properties:
        RoleName: ${self:service}-${self:custom.product}-${self:custom.stage}-role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service: lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: LambdaDynamoDBPolicy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:Query
                    - dynamodb:PutItem
                  Resource: ${self:custom.dynamoDB_arn}

    # DynamoDB Table for the RSS Feed
    RssFeedSourceTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:service}-${self:custom.product}-${self:custom.stage}-source
        AttributeDefinitions:
          - AttributeName: feed_article_id
            AttributeType: S
          - AttributeName: feed_article_published_date
            AttributeType: S
          - AttributeName: feed_article_title
            AttributeType: S
          - AttributeName: feed_article_summary
            AttributeType: S
          - AttributeName: feed_article_link
            AttributeType: S
          - AttributeName: feed_article_author
            AttributeType: S
          - AttributeName: rss_feed_title
            AttributeType: S
          - AttributeName: rss_feed_link
            AttributeType: S
          - AttributeName: date_added
            AttributeType: S
          - AttributeName: unique_id
            AttributeType: S
        KeySchema:
          - AttributeName: feed_article_id
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
        GlobalSecondaryIndexes:
        - IndexName: FeedArticleTitleIndex
          KeySchema:
          - AttributeName: feed_article_title
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: ArticleSummaryIndex
          KeySchema:
          - AttributeName: feed_article_summary
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: ArticleLinkIndex
          KeySchema:
          - AttributeName: feed_article_link
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: ArticleAuthorIndex
          KeySchema:
          - AttributeName: feed_article_author
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: RSSFeedTitleIndex
          KeySchema:
          - AttributeName: rss_feed_title
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: RSSFeedLinkIndex
          KeySchema:
          - AttributeName: rss_feed_link
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: DateAdded
          KeySchema:
          - AttributeName: date_added
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: UniqueID
          KeySchema:
          - AttributeName: unique_id
            KeyType: HASH
          - AttributeName: feed_article_published_date
            KeyType: RANGE
          Projection:
            ProjectionType: ALL

# Lambdas
functions:
  # Function that gets initial RSS feed data
  get-feed-and-article:
    handler: Lambdas/feed-parser-lambda-package/lambda-get-feed.lambda_handler
    name: ${self:service}-${self:custom.product}-${self:custom.stage}-get-feed-articles
    description: Lambda to pull RSS data
    package:
      include:
        - Lambdas/feed-parser-lambda-package/
        - requirements.txt
    environment:
      VARIABLE_NAME: variable_value
    timeout: 60
    role: LambdaDynamoDBRole
  # This function scrapes the article body from the RSS feed link
  scrape-article-body:
    handler: Lambdas/scrape-articles-body-package/lambda-scrape-article.lambda_handler
    name: ${self:service}-${self:custom.product}-${self:custom.stage}-scrape-articles-body
    description: Lambda that scrapes Articles body from the news website using RSS Feed Link
    package:
      include:
        - Lambdas/scrape-articles-body-package/
        - requirements.txt
    environment:
      VARIABLE_NAME: variable_value
    timeout: 60

# Plugins
plugins:
  - serverless-python-requirements  # Plugin to bundle Python dependencies